<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="demo">
      姓：<input type="text" placeholder="first name" v-model="firstName"><br>
      名：<input type="text" placeholder="last name" v-model="lastName"><br>
      姓名1（单向）：<input type="text" placeholder="full name1" v-model="fullName1"><br>
      姓名2（单向）：<input type="text" placeholder="full name2" v-model="fullName2"><br>
      姓名3（双向）：<input type="text" placeholder="full name3" v-model="fullName3"><br>
    
      <p>{{fullName1}}</p>
      <p>{{fullName1}}</p>
      <p>{{fullName1}}</p>
    </div>

    
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript">
      const vm = new Vue({
        el: '#demo',
        data: {
          firstName: 'kk',
          lastName: 'vv',
          fullName2: 'kk vv',
        },
        computed: {
          fullName1(){
            console.log('fullName1()')
            return this.firstName + ' ' + this.lastName
          },
        

        fullName3:{//回调函数
          get(){
            return this.firstName + ' ' + this.lastName
          },

          set(value){
            const names = value.split(' ')
            this.firstName = names[0]
            this.lastName = names[1]
          }
        }
        },

        watch: {
          firstName:function(value){
            console.log(this)
            this.fullName2 = value + ' ' + this.lastName
          }
        },
      })

      vm.$watch('lastName', function(value){
        this.fullName2 = this.firstName + ' ' + value
      })

    </script>
  </body>
</html>