<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- v-model收集表单数据信息 -->
    <div id="demo">
      <form action="/xxx" @submit.prevent="handleSubmit">
        <span>用户名：</span>
        <input type="text" v-model="username"><br>

        <span>密码：</span>
        <input type="password" v-model="pwd"><br>

        <span>性别</span>
        <input type="radio" id="female" value="女" v-model="sex">
        <label for="female">女</label>
        <input type="radio" id="male" value="男" v-model="sex">
        <label for="male">男</label><br>

        <span>爱好</span>
        <input type="checkbox" id="basket" value="篮球" v-model="likes">
        <label for="basket">篮球</label>
        <input type="checkbox" id="foot" value="足球" v-model="likes">
        <label for="foot">足球</label>
        <input type="checkbox" id="pingpong" value="乒乓球" v-model="likes">
        <label for="pingpong">乒乓球</label><br>

        <span>城市：</span>
        <select name="" id="" v-model="cityId">
          <option value="">未选择</option>
          <option :value="city.id" v-for="(city, index) in allCitys" :key="index">{{city.name}}</option>
        </select><br>

        <span>介绍：</span>
        <textarea name="" id="" cols="30" rows="10" v-model="text"></textarea><br><br>

        <input type="submit" value="注册">
      </form>
    </div>
    <script src="js/vue.js"></script>
    <script>
      new Vue({
        el: '#demo',
        data: {
          username: '',
          pwd: '',
          sex: '',
          likes: [],
          allCitys: [{id: 1,name: 'BJ'}, {id: 2,name: 'SH'},   {id: 3,name: 'SZ'}, {id: 4,name: 'GZ'}],
          cityId: '',
          text: '',
        },

        methods: {
          handleSubmit(){
            console.log(this.username, this.pwd, this.sex, this.likes, this.cityId, this.text)
          }
        },
      })
    </script>
  </body>
</html>