<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="demo">
      <input type="text" v-model="searchName">
      <ul>
        <li v-for="(p, index) in filterPersons" :key="index">
          {{index}}---{{p.name}}---{{p.age}}
        </li>
      </ul>
      <button @click="setOrdertype(1)">年龄升序</button>
      <button @click="setOrdertype(2)">年龄降序</button>
      <button @click="setOrdertype(0)">原本顺序</button>
    </div>
    <script src="js/vue.js"  ></script>
    <script>
      new Vue({
        el: '#demo',
        data: {
          searchName: '',
          orderType: 0,  //0为原来顺序，1为升序，2位降序
          persons: [
            {name: 'Jennie', age: 24},
            {name: 'Jisoo', age: 25},
            {name: 'Rose', age: 23},
            {name: 'Lisa', age: 23},
          ]
        },
        computed: {
          filterPersons () {
            const {searchName, persons, orderType} = this
            let fPersons;
            fPersons = persons.filter(p => p.name.indexOf(searchName)!==-1)
            //排序
            if(orderType!==0) {
              fPersons.sort(function (p1, p2){  //返回负数p1在前，正数p2在前
                //1为升序，2为降序
                if(orderType===2){
                  return p2.age-p1.age
                }else{
                  return p1.age-p2.age
                  
                }
              })
            }
            return fPersons
          }
        },
        
        methods: {
          setOrdertype(orderType){
            this.orderType = orderType
          }
        },
      })
    </script>
  </body>
</html>